<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Destructive Testing. <span class="text-muted">Take a look.</span></h2>
    <p class="lead">Stress testing (sometimes called torture testing) is a form of deliberately intense or thorough testing used to determine the stability of a given system or entity. It involves testing beyond normal operational capacity, often to a breaking point, in order to observe the results.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image1 img-responsive center-block" data-src="holder.js/500x500/auto" alt="">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Endurance Testing. <span class="text-muted">See for yourself.</span></h2>
    <p class="lead">Meant to test the system during longer periods of time, in order to reveal other types of problems. These may come up following the accumulation of problems, as in the case of a memory leak and to analyze the system’s behavior following a specific period in operation.</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">And lastly, Load Testing. <span class="text-muted">Checkmate.</span></h2>
    <p class="lead">This type of test is meant to simulate the maximum use of the system, for which we must analyze the number of users that will have access and the operations that will be executed.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>