<div class="center jumbotron">
  <div class="container">
    <body id="home">
     <h1 align="center">Performance Engineering</h>
      <p align="center">Engage us today to get started with all of your performance testing needs</p>
    </body>
  </div>
</div>

<%= render 'featurette' %>