<% obj.each do |project| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="project-title">
          <%= link_to project.title, project_path(project) %>
        </div>
        <div class="project-body">
          <%= truncate(project.description, length: 100) %>
          <div class="project-meta-details">
          <small>Created By: <%#= project.user.username if project.user %>
                             <%#= time_ago_in_words(project.created_at) %> ago,
                 last updated: <%#= time_ago_in_words(project.updated_at) %> ago
          </small>
          </div>
        </div>
        <%# if logged_in? && (current_user == project.user || current_user.admin?) %>  <!--only want user to be able to edit their own projects -->
          <div class="project-actions">
            <%#= link_to "Edit this project", edit_project_path(project), class: "btn btn-xs btn-primary" %>
            <%#= link_to "Delete this project", project_path(project), method: :delete,
                                                data: {confirm: "Are you sure you want to delete the project?"}, 
                                                class: "btn btn-xs btn-danger" %>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
<% end %>