<div class="container">
  <footer class="footer">
    <small>
      &copy; The Home Depot &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </small>
    <nav>
      <ul>
        <li class="pull-right"><a href="#">Back to top</a></li>
        <li>About</li>
        <li><%#= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
  
  